In [ ]:
from pandas import DataFrame
from DATA225utils import make_connection, dataframe_query

In [ ]:
conn_warehouse = make_connection(config_file = 'centaurus_wh.ini')
cursor_warehouse = conn_warehouse.cursor()

In [ ]:
cursor_warehouse.execute('DROP TABLE IF EXISTS LoanSanction')
cursor_warehouse.execute('DROP TABLE IF EXISTS HouseOwnership')
cursor_warehouse.execute('DROP TABLE IF EXISTS DimOwner')
cursor_warehouse.execute('DROP TABLE IF EXISTS DimLoan')
cursor_warehouse.execute('DROP TABLE IF EXISTS DimOceanProximity')
cursor_warehouse.execute('DROP TABLE IF EXISTS DimAddress')
cursor_warehouse.execute('DROP TABLE IF EXISTS DimHousing')

In [ ]:
sql = ( """
        CREATE TABLE DimOwner
        (
          owner_id VARCHAR(20) NOT NULL,
          owner_income INT NOT NULL,
          owner_name VARCHAR(50) NOT NULL,
          mail VARCHAR(64) NOT NULL,
          PRIMARY KEY (owner_id)
        );
                """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE DimLoan
        (
          loan_id INT NOT NULL,
          loan_amount INT NOT NULL,
          month VARCHAR(15) NOT NULL,
          year INT NOT NULL,
          day INT NOT NULL,
          PRIMARY KEY (loan_id)
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE DimOceanProximity
        (
          proximity_id INT NOT NULL,
          ocean_proximity_value VARCHAR(25) NOT NULL,
          PRIMARY KEY (proximity_id)
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE DimAddress
        (
          add_id VARCHAR(32) NOT NULL,
          latitude FLOAT NOT NULL,
          longitude FLOAT NOT NULL,
          state VARCHAR(32) NOT NULL,
          city VARCHAR(32) NOT NULL,
          country VARCHAR(50) NOT NULL,
          postal_code INT NOT NULL,
          PRIMARY KEY (add_id)
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE DimHousing
        (
          housing_id INT NOT NULL,
          housing_median_age INT NOT NULL,
          total_rooms INT NOT NULL,
          total_bedrooms INT NOT NULL,
          population INT NOT NULL,
          median_house_value INT NOT NULL,
          households INT NOT NULL,
          PRIMARY KEY (housing_id)
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE LoanSanction
        (
          sanction VARCHAR(5) NOT NULL,
          owner_id VARCHAR(20) NOT NULL,
          loan_id INT NOT NULL,
          FOREIGN KEY (owner_id) REFERENCES DimOwner(owner_id),
          FOREIGN KEY (loan_id) REFERENCES DimLoan(loan_id)
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE HouseOwnership
        (
          proximity_id INT NOT NULL,
          owner_id VARCHAR(20) NOT NULL,
          housing_id INT NOT NULL,
          add_id VARCHAR(32) NOT NULL,
          FOREIGN KEY (proximity_id) REFERENCES DimOceanProximity(proximity_id),
          FOREIGN KEY (owner_id) REFERENCES DimOwner(owner_id),
          FOREIGN KEY (housing_id) REFERENCES DimHousing(housing_id),
          FOREIGN KEY (add_id) REFERENCES DimAddress(add_id)
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("DimOwner.csv")

In [ ]:
for i, row in data.iterrows():
    owner_id = row[0]
    owner_income = row[1]
    owner_name = row[2]
    mail = row[3]
    
    
    sql = "INSERT INTO DimOwner(owner_id, owner_income, owner_name, mail) VALUES (%s, %s, %s, %s)"
    values = (owner_id, owner_income, owner_name, mail)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("DimAddress.csv")

In [ ]:
for i, row in data.iterrows():
    latitude = row[0]
    longitude = row[1]
    state = row[2]
    city = row[3]
    country = row[4]
    postal_code = row[5]
    add_id = row[6]
    
    
    sql = "INSERT INTO DimAddress(latitude, longitude, state, city, country, postal_code, add_id) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    values = (latitude, longitude, state, city, country, postal_code, add_id)
    cursor_warehouse.execute(sql, values)
conn_warehouse.commit()

In [ ]:
data=pd.read_csv("DimLoan.csv")

In [ ]:
for i, row in data.iterrows():
    loan_id = row[0]
    loan_amount = row[1]
    month = row[2]
    year = row[3]
    day = row[4]
    
    
    sql = "INSERT INTO DimLoan(loan_id, loan_amount, month, year, day) VALUES (%s, %s, %s, %s, %s)"
    values = (loan_id, loan_amount, month, year, day)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("DimOceanProximity.csv")

In [ ]:
for i, row in data.iterrows():
    proximity_id = row[0]
    ocean_proximity_value = row[1]
    
    
    sql = "INSERT INTO DimOceanProximity(proximity_id, ocean_proximity_value) VALUES (%s, %s)"
    values = (proximity_id, ocean_proximity_value)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("DimHousing.csv")

In [ ]:
for i, row in data.iterrows():
    housing_id = row[0]
    housing_median_age = row[1]
    total_rooms = row[2]
    total_bedrooms = row[3]
    population = row[4]
    median_house_value = row[5]
    households = row[6]
    
    
    sql = "INSERT INTO DimHousing(housing_id, housing_median_age, total_rooms, total_bedrooms, population, median_house_value, households) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    values = (housing_id, housing_median_age, total_rooms, total_bedrooms, population, median_house_value, households)
    cursor_warehouse.execute(sql, values)
    
conn_warehouse.commit()

In [ ]:
data=pd.read_csv("LoanSanction.csv")

In [ ]:
for i, row in data.iterrows():
    sanction = row[0]
    owner_id = row[1]
    loan_id = row[2]
    
    
    sql = "INSERT INTO owns(sanction, owner_id, loan_id) VALUES (%s, %s, %s)"
    values = (sanction, owner_id, loan_id)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("HouseOwnership.csv")

In [ ]:
for i, row in data.iterrows():
    proximity_id = row[0]
    housing_id = row[1]
    owner_id = row[2]
    add_id = row[3]
    
    
    sql = "INSERT INTO HouseOwnership(proximity_id, housing_id, owner_id, add_id) VALUES (%s, %s, %s, %s)"
    values = (proximity_id, housing_id, owner_id, add_id)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()