In [ ]:
from pandas import DataFrame
from DATA225utils import make_connection, dataframe_query

In [ ]:
conn_warehouse = make_connection(config_file = 'centaurus_db.ini')
cursor_warehouse = conn_warehouse.cursor()

In [ ]:
cursor_warehouse.execute('DROP TABLE IF EXISTS takes')
cursor_warehouse.execute('DROP TABLE IF EXISTS owns')
cursor_warehouse.execute('DROP TABLE IF EXISTS have')
cursor_warehouse.execute('DROP TABLE IF EXISTS owner')
cursor_warehouse.execute('DROP TABLE IF EXISTS loan')
cursor_warehouse.execute('DROP TABLE IF EXISTS ocean_proximity')
cursor_warehouse.execute('DROP TABLE IF EXISTS housing')
cursor_warehouse.execute('DROP TABLE IF EXISTS Address')

In [ ]:
sql = ( """
        CREATE TABLE owner
        (
          owner_id VARCHAR(20) NOT NULL,
          owner_income INT NOT NULL,
          owner_name VARCHAR(50) NOT NULL,
          mail VARCHAR(64) NOT NULL,
          PRIMARY KEY (owner_id)
        )
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE loan
        (
          loan_id INT NOT NULL,
          loan_amount INT NOT NULL,
          month VARCHAR(15) NOT NULL,
          year INT NOT NULL,
          day INT NOT NULL,
          PRIMARY KEY (loan_id)
        )
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE Address
        (
          latitude FLOAT NOT NULL,
          longitude FLOAT NOT NULL,
          state VARCHAR(32) NOT NULL,
          city VARCHAR(32) NOT NULL,
          country VARCHAR(50) NOT NULL,
          postal_code INT NOT NULL,
          add_id VARCHAR(32) NOT NULL,
          PRIMARY KEY (add_id)
        )
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE ocean_proximity
        (
          proximity_id INT NOT NULL,
          ocean_proximity_value VARCHAR(25) NOT NULL,
          PRIMARY KEY (proximity_id)
        )
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE takes
        (
          sanction VARCHAR(5) NOT NULL,
          owner_id VARCHAR(20) NOT NULL,
          loan_id INT NOT NULL,
          PRIMARY KEY (owner_id, loan_id),
          FOREIGN KEY (owner_id) REFERENCES owner(owner_id) ON UPDATE CASCADE ON DELETE CASCADE,
          FOREIGN KEY (loan_id) REFERENCES loan(loan_id) ON UPDATE CASCADE ON DELETE CASCADE
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE housing
        (
          housing_id INT NOT NULL,
          housing_median_age INT NOT NULL,
          total_rooms INT NOT NULL,
          total_bedrooms INT NOT NULL,
          population INT NOT NULL,
          median_house_value INT NOT NULL,
          households INT NOT NULL,
          add_id VARCHAR(32) NOT NULL,
          PRIMARY KEY (housing_id),
          FOREIGN KEY (add_id) REFERENCES Address(add_id) ON UPDATE CASCADE ON DELETE CASCADE
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        CREATE TABLE owns
        (
          housing_id INT NOT NULL,
          owner_id VARCHAR(20) NOT NULL,
          PRIMARY KEY (housing_id, owner_id),
          FOREIGN KEY (housing_id) REFERENCES housing(housing_id) ON UPDATE CASCADE ON DELETE CASCADE,
          FOREIGN KEY (owner_id) REFERENCES owner(owner_id) ON UPDATE CASCADE ON DELETE CASCADE
        );
        """
      )

cursor_warehouse.execute(sql)

In [ ]:
sql = ( """
        
        CREATE TABLE have
        (
          housing_id INT NOT NULL,
          proximity_id INT NOT NULL,
          PRIMARY KEY (housing_id, proximity_id),
          FOREIGN KEY (housing_id) REFERENCES housing(housing_id) ON UPDATE CASCADE ON DELETE CASCADE,
          FOREIGN KEY (proximity_id) REFERENCES ocean_proximity(proximity_id) ON UPDATE CASCADE ON DELETE CASCADE
        );

        """
      )

cursor_warehouse.execute(sql)

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("Address.csv")

In [ ]:
for i, row in data.iterrows():
    latitude = row[0]
    longitude = row[1]
    state = row[2]
    city = row[3]
    country = row[4]
    postal_code = row[5]
    add_id = row[6]
    
    
    sql = "INSERT INTO Address(latitude, longitude, state, city, country, postal_code, add_id) VALUES (%s, %s, %s, %s, %s, %s, %s)"
    values = (latitude, longitude, state, city, country, postal_code, add_id)
    cursor_warehouse.execute(sql, values)
conn_warehouse.commit()

In [ ]:
data=pd.read_csv("Owner.csv")

In [ ]:
for i, row in data.iterrows():
    owner_id = row[0]
    owner_income = row[1]
    owner_name = row[2]
    mail = row[3]
    
    
    sql = "INSERT INTO owner(owner_id, owner_income, owner_name, mail) VALUES (%s, %s, %s, %s)"
    values = (owner_id, owner_income, owner_name, mail)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("loan.csv")

In [ ]:
for i, row in data.iterrows():
    loan_id = row[0]
    loan_amount = row[1]
    month = row[2]
    year = row[3]
    day = row[4]
    
    
    sql = "INSERT INTO loan(loan_id, loan_amount, month, year, day) VALUES (%s, %s, %s, %s, %s)"
    values = (loan_id, loan_amount, month, year, day)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("ocean.csv")

In [ ]:
for i, row in data.iterrows():
    proximity_id = row[0]
    ocean_proximity_value = row[1]
    
    
    sql = "INSERT INTO ocean_proximity(proximity_id, ocean_proximity_value) VALUES (%s, %s)"
    values = (proximity_id, ocean_proximity_value)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("takes.csv")

In [ ]:
for i, row in data.iterrows():
    sanction = row[0]
    owner_id = row[1]
    loan_id = row[2]
    
    
    sql = "INSERT INTO takes(sanction, owner_id, loan_id) VALUES (%s, %s, %s)"
    values = (sanction, owner_id, loan_id)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("housing.csv")

In [ ]:
for i, row in data.iterrows():
    housing_id = row[0]
    housing_median_age = row[1]
    total_rooms = row[2]
    total_bedrooms = row[3]
    population = row[4]
    median_house_value = row[5]
    households = row[6]
    add_id = row[7]
    
    
    sql = "INSERT INTO housing(housing_id, housing_median_age, total_rooms, total_bedrooms, population, median_house_value, households, add_id) VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
    values = (housing_id, housing_median_age, total_rooms, total_bedrooms, population, median_house_value, households, add_id)
    cursor_warehouse.execute(sql, values)
    
conn_warehouse.commit()

In [ ]:
data=pd.read_csv("owns.csv")

In [ ]:
for i, row in data.iterrows():
    housing_id = row[0]
    owner_id = row[1]
    
    
    sql = "INSERT INTO owns(housing_id, owner_id) VALUES (%s, %s)"
    values = (housing_id, owner_id)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()

In [ ]:
data=pd.read_csv("have.csv")

In [ ]:
for i, row in data.iterrows():
    housing_id = row[0]
    proximity_id = row[1]
    
    
    sql = "INSERT INTO have(housing_id, proximity_id) VALUES (%s, %s)"
    values = (housing_id, proximity_id)
    cursor_warehouse.execute(sql, values)


conn_warehouse.commit()